<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>NJTransit</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="bower_components/x2js/xml2json.min.js"></script>
    <script src="js/script.js"></script>
    <script src="lib/angular-http-loader/app/package/js/angular-http-loader.min.js"></script>
  </head>

  <body ng-app="mainModule" ng-controller="mainController" angular.module('mainModule', ['ng.httpLoader'])>
      <ion-pane>
        <ion-header-bar>
            <ion-nav-bar>
                <ion-nav-title>
                    <img src="img/njTLogo.jpg"/>
                </ion-nav-title>                 
            </ion-nav-bar>
        </ion-header-bar>
        <ion-nav-view>  
            <ion-view>
                <ion-content>
                    <form ng-submit="postCall(stopParam1)">
                      <div class="list">
                        <label class="item item-input">
                          <input type="text" pattern="[0-9]*" placeholder="Stop Number" ng-model="stopParam1" ng-init="stopParam2 = '10095'">
                          <a class="clear" href="" data-ng-click="clearSearch()"><i class="icon ion-close-circled"></i></a>&nbsp;&nbsp
                        </label>
                      </div>
                      <div class="padding">
                        <button type="submit" class="button button-block button-positive">Get Update</button>
                      </div>
                    </form>

                    <div ng-if="postCallResult.BusStopInfo.StopSchedule.ArrivalTime != 'Clever Processing Error'">                        
                        <ion-scroll style="height: 500px">
                        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
                            </ion-refresher>                    
                        <ion-list>
                            <center><loading></loading></center>
                            <div>
                            <ion-item ng-repeat="ArrivalTimes in postCallResult.BusStopInfo.StopSchedule.ArrivalTime">
                            {{postCallResult.BusStopInfo.StopSchedule.ArrivalTime[$index]}}
                            </ion-item>
                            </div>
                        </ion-list>  
                        </ion-scroll>
                    </div>
                    <div ng-if="postCallResult.BusStopInfo.StopSchedule.ArrivalTime == 'Clever Processing Error'">                        
                      <ion-list>
                        <ion-item>Invalid Stop</ion-item>
                      </ion-list> 
                    </div>
                </ion-content> 
            </ion-view>
          </ion-nav-view>
    </ion-pane>
  </body>
</html>
